<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We Have the Drinks</title>

    <link rel="stylesheet" href="https://cdnjs.cloudfare.com/ajax/libs/bulma/0.7.2/css/bulma.css" />
    <link rel="stylesheet" href="/css/myStyles">
    
</head>
<body>
    <!--Add an image here-->
  <img src="/images/coffeeCup.jpg" alt="This is a Cup of Coffee">
  
    <!--Add buttons to Display Drinks-->
  <form action="/displayDrinks" method="GET">
    <button type="submit">Display Drinks</button>
  </form>  <br>

    <!--Add buttons to Add Drinks-->
  <form action="/addDrink" method="GET">
    <button type="submit">Add Drink</button>
  </form>  <br>

    <!--Add buttons to Sort by Rating-->
  <form action="/sortRating" method="GET">
    <button type="submit">Sort by Rating</button>
  </form>  <br>

    <!--Add buttons to Sort by Description-->
  <form action="/sortDesc" method="GET">
    <button type="submit">Sort by Description</button>
  </form>  
</body>
</html>